@model  ModuleManager.DomainDAL.Module

<div class="container">
    <div class="row">
        <div id="primary">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li class="active">@Model.Naam</li>
                </ol>
            </div>
            <div class="col-md-12">
                <div class="pull-right">
                    <a class="btn btn-default" href="@Url.Action("Overview", "Module")">Terug</a>
                    <a class="btn btn-success" href="#"><i class="fa fa-download"></i> Exporteren</a>
                </div>
                <h2 style="margin-top: 0">@Model.Naam</h2>
            </div>
            <div class="col-md-12">
                <h3>Beschrijving</h3>
                <p>@Model.Beschrijving</p>
                <h3>Algemene informatie</h3>
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td>Schooljaar</td>
                            <td colspan="2">@Model.Schooljaar</td>
                        </tr>
                        <tr>
                            <td>Programma</td>
                            <td style="color: red;" colspan="2">Niet in Model</td>
                        </tr>
                        <tr>
                            <td>Blok</td>
                            <td style="color: red;" colspan="2">Niet in Model</td>
                        </tr>
                        <tr>
                            <td>Cursus</td>
                            <td colspan="2">@Model.CursusCode</td>
                        </tr>
                        <tr>
                            <td>Omschrijving</td>
                            <td colspan="2">@Model.Naam</td>
                        </tr>
                        @{
                            var rowSpanToetscode = @Model.StudiePunten.Count;
                            var firstToetscode = @Model.StudiePunten.First();
                        }
                        <tr>
                            <td rowspan="@rowSpanToetscode">Toetscode</td>
                            <td colspan="2">@firstToetscode.ToetsCode</td>
                        </tr>

                        @foreach (StudiePunten studiePunt in @Model.StudiePunten.Where(studiePunt => studiePunt != firstToetscode))
                        {
                            <tr>
                                <td colspan="2">@studiePunt.ToetsCode</td>
                            </tr>
                        }
                        <tr>
                            <td rowspan="@rowSpanToetscode">EC</td>
                            <td>@firstToetscode.ToetsCode</td>
                            <td>@firstToetscode.EC</td>
                        </tr>
                        @foreach (StudiePunten studiePunt in @Model.StudiePunten.Where(studiePunt => studiePunt != firstToetscode))
                        {
                            <tr>
                                <td>@studiePunt.ToetsCode</td>
                                <td>@studiePunt.EC</td>
                            </tr>
                        }
                        <tr>
                            <td>Werkvorm</td>
                            @{
                                var werkvorm = @Model.ModuleWerkvorm.Aggregate("", (current, moduleWerkvorm) => current + (moduleWerkvorm.WerkvormType + ", "));
                                werkvorm = werkvorm.Remove(werkvorm.Length - 2);
                            }
                            <td colspan="2">@werkvorm</td>
                        </tr>
                    </tbody>
                </table>
                <h3>Studiebelasting</h3>
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th>Activiteit</th>
                            <th>Duur</th>
                            <th>Frequentie</th>
                            <th>SBU</th>
                        </tr>
                        @{ var studieBelastingTotaal = 0; }
                        @foreach (StudieBelasting studieBelasting in Model.StudieBelasting)
                        {
                            <tr>
                                <td>@studieBelasting.Activiteit</td>
                                <td>@studieBelasting.Duur</td>
                                <td>@studieBelasting.Frequentie</td>
                                <td>@studieBelasting.SBU</td>
                            </tr>
                            studieBelastingTotaal = studieBelastingTotaal + studieBelasting.SBU;
                        }
                        <tr>
                            <td></td>
                            <td></td>
                            <th>Totaal</th>
                            <td>@studieBelastingTotaal</td>
                        </tr>
                    <tbody>
                </table>
                <h3>Organisatie</h3>
                <p>
                    Toelichting op de werkvormen @werkvorm:
                    <ul>
                        @foreach (ModuleWerkvorm moduleWerkvorm in Model.ModuleWerkvorm)
                        {
                            <li>@moduleWerkvorm.Organisatie</li>
                        }
                    </ul>
                </p>
                <h3>Weekplanning</h3>
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                        <th>Week</th>
                        <th>Onderwerpen</th>
                        @foreach (Weekplanning weekplanning in Model.Weekplanning)
                        {
                            <tr>
                                <td>@weekplanning.Week</td>
                                <td>@weekplanning.Onderwerp</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <h3>Beoordeling</h3>
                <ul>
                    @foreach (Beoordelingen beoordelingen in Model.Beoordelingen)
                    {
                        <li>@beoordelingen.Beschrijving</li>
                    }
                </ul>
                <h3>Leermiddelen</h3>
                <ul>
                    @foreach (Leermiddelen leermiddelen in Model.Leermiddelen)
                    {
                        <li>@leermiddelen.Beschrijving</li>
                    }
                </ul>
                <h3>Leerdoelen</h3>
                <p>
                    De student kan...
                    <ul>
                       @foreach (Leerdoelen leerdoelen in Model.Leerdoelen)
                       {
                           <li>@leerdoelen.Beschrijving</li>
                       }
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>

<!-- Help MODAL-->
@Html.Partial("~/Views/Help/ModuleDetails.cshtml", null);