@model ModuleManager.DomainDAL.Module

@{    
    var studiebelastingArray = Model.StudieBelasting.ToArray();
    var weekplanningArray = Model.Weekplanning.ToArray();
    var beoordelingenArray = Model.Beoordelingen.ToArray();
    var leermiddelenArray = Model.Leermiddelen.ToArray();
    var leerdoelenArray = Model.Leerdoelen.ToArray();
}



<div class="container">
    <div class="row">
        <div id="primary">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li><a href="@Url.Action("Overview_Teacher_Temp", "Module")">Home</a></li>
                    <li class="active">Module bewerken</li>
                </ol>
            </div>

            <div class="col-md-12">
                <h2>Module bewerken</h2>
                <br />
            </div>

            <div class="col-md-12">
                @using (Html.BeginForm("Edit", "Module", FormMethod.Post))
                {
                    @Html.HiddenFor(model => model.CursusCode);
                    @Html.HiddenFor(model => model.Schooljaar);
                    
                    <div class="form-group">
                        <label for="name">Naam</label>
                        <input type="text" class="form-control" id="name" placeholder="Naam" value="@Model.Naam" disabled="disabled">
                    </div>

                    <div class="form-group">
                        <label for="description">Beschrijving</label>
                        <textarea class="form-control" id="description" placeholder="Beschrijving">@Model.Beschrijving</textarea>
                    </div>

                    <div class="form-group">
                        <label for="competenties">Competentie <label style="color: red;">(TODO: Niveau selecteren)</label></label>
                        <select class="form-control" id="competenties" multiple>
                            @foreach (var comp in Model.ModuleCompetentie)
                            {
                                <option>@comp.Competentie.Naam (@comp.Niveau)</option>
                            }
                        </select>
                    </div>
                
                    <div class="form-group">
                        <label for="leerlijn">Leerlijnen</label>
                        <select class="form-control" id="leerlijn" multiple>
                            @foreach (var leerl in Model.Leerlijn)
                            {
                                <option>@leerl.Naam</option>
                            }
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="tags">Tags</label>
                        <select class="form-control" id="tags" multiple>
                            @foreach (var tag in Model.Tag)
                            {
                                <option>@tag.Naam</option>
                            }
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="general-information">Algemene informatie</label>


                        <table class="table table-bordered table-center table-striped">
                            <tbody>
                                <tr>
                                    <th style="min-width: 250px;"><label for="werkvorm">Werkvorm</label></th>
                                    <td>
                                        <select name="werkvorm" class="form-control" id="werkvorm" multiple>
                                            <option></option>
                                            @foreach (var werkvorm in Model.ModuleWerkvorm)
                                            {
                                                <option><label style="color: red;">Omschrijving</label> (@werkvorm.WerkvormType)</option>
                                            }
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Studiebelasting</th>
                                    <td>
                                        <table class="table table-bordered" id="sb">
                                            <thead>
                                                <tr>
                                                    <th>Activiteit</th>
                                                    <th>Duur</th>
                                                    <th>Frequentie</th>
                                                    <th>SBU</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>                                
                                                @foreach(var studieBelasting in Model.StudieBelasting)                                                                                                   
                                                {
                                                <tr>
                                                    <td>@Html.EditorFor(item => studieBelasting.Activiteit,new { htmlAttributes = new { @class = "form-control" } })</td>
                                                    <td>@Html.EditorFor(item => studieBelasting.Duur, new { htmlAttributes = new { @class = "form-control" } })</td>
                                                    <td>@Html.EditorFor(item => studieBelasting.Frequentie, new { htmlAttributes = new { @class = "form-control" } })</td>
                                                    <td>@Html.EditorFor(item => studieBelasting.SBU, new { htmlAttributes = new { @class = "form-control" } })</td>
                                                    <td style="width: 90px; text-align:center">
                                                        <a class="btn btn-danger btn-sm remove_row"><i class="fa fa-trash"></i></a>
                                                    </td>
                                                </tr>
                                                }
                                                <tr>
                                                    <td style="width: 90px; text-align:right; padding-right:30px" colspan="5">
                                                        <button data-target="sb" data-columns="4" data-collectionname="StudieBelasting" data-properties='["Activiteit", "Duur", "Frequentie", "SBU"]' data-nextindex="@studiebelastingArray.Length" class="btn btn-success btn-sm row_add" type="button"><i class="fa fa-plus"></i></button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Organisatie</th>
                                    <td>
                                        @foreach (var werkvorm in Model.ModuleWerkvorm)
                                        {
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th><a style="color:red;">WerkVormOmschrijving</a> @werkvorm.WerkvormType:</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            @werkvorm.Organisatie
                                                        </td>
                                                        <td style="width: 90px;">
                                                            <a class="btn btn-warning btn-sm"><i class="fa fa-pencil"></i></a>
                                                            <a class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        }
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Organisatie">
                                            <span class="input-group-btn">
                                                <button data-nextindex="@studiebelastingArray.Length" class="btn btn-success btn-sm" type="button"><i class="fa fa-plus"></i></button>
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Weekplanning</th>
                                    <td>
                                        <table class="table table-bordered" id="wp">
                                            <thead>
                                                <tr>
                                                    <th>Week</th>
                                                    <th>Onderwerpen</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @for (int i = 0; i < weekplanningArray.Length; i++)
                                                {
                                                    <tr>
                                                        <td style="width:80px;">@Html.TextBox("Model.Weekplanning[" + @i + "].Week", weekplanningArray[i].Week, new { @class = "form-control" })</td>
                                                        <td>@Html.TextBox("Model.Weekplanning[" + @i + "].Onderwerp", weekplanningArray[i].Onderwerp, new { @class = "form-control" })</td>
                                                        <td style="width: 90px; text-align:center">
                                                            <a class="btn btn-danger btn-sm remove_row"><i class="fa fa-trash"></i></a>
                                                        </td>
                                                    </tr>
                                                }
                                            <tr>
                                                <td style="width: 90px; text-align:right; padding-right:30px" colspan="5">
                                                    <button data-target="wp" data-columns="2" data-collectionname="Weekplanning" data-properties='["Week", "Onderwerp"]' data-nextindex="@weekplanningArray.Length" class="btn btn-success btn-sm row_add" type="button"><i class="fa fa-plus"></i></button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Beoordeling</th>
                                    <td>
                                        <table class="table table-bordered" id="beoordelingen">
                                            <thead>
                                                <tr>
                                                    <th>Beoordelingen</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @for (int i = 0; i < beoordelingenArray.Length; i++ )
                                                {
                                                    <tr>
                                                        <td>@Html.TextBox("Model.Weekplanning[" + @i + "].Beschrijving", beoordelingenArray[i].Beschrijving, new { @class = "form-control" })</td>
                                                        <td style="width: 90px; text-align:center">
                                                            <a class="btn btn-danger btn-sm remove_row"><i class="fa fa-trash"></i></a>
                                                        </td>
                                                    </tr>
                                                }
                                                <tr>
                                                    <td style="width: 90px; text-align:right; padding-right:30px" colspan="5">
                                                        <button data-target="beoordelingen" data-columns="1" data-collectionname="Weekplanning" data-properties='["Beschrijving"]' data-nextindex="@beoordelingenArray.Length" class="btn btn-success row_add" type="button"><i class="fa fa-plus"></i></button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Leermiddelen</th>
                                    <td>
                                        <table class="table table-bordered" id="leermiddelen">
                                            <thead>
                                                <tr>
                                                    <th>Leermiddelen</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @for (int i = 0; i < leermiddelenArray.Length; i++)
                                                {
                                                    <tr>
                                                        <td>@Html.TextBox("Model.Leermiddelen[" + @i + "].Beschrijving", leermiddelenArray[i].Beschrijving, new { @class = "form-control" })</td>
                                                        <td style="width: 90px; text-align:center">
                                                            <a class="btn btn-danger btn-sm remove_row"><i class="fa fa-trash"></i></a>
                                                        </td>
                                                    </tr>
                                                }
                                                <tr class=".leermiddel_add">
                                                    <td style="width: 90px; text-align:right; padding-right:30px" colspan="5">
                                                        <button data-target="leermiddelen" data-columns="1" data-collectionname="Leermiddelen" data-properties='["Beschrijving"]' data-nextindex="@leermiddelenArray.Length" class="btn btn-success row_add" type="button"><i class="fa fa-plus"></i></button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Leerdoelen</th>
                                    <td>
                                        <table class="table table-bordered" id="leerdoelen">
                                            <thead>
                                                <tr>
                                                    <th>Een student kan...</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @for (int i = 0; i < leerdoelenArray.Length; i++)
                                                {
                                                    <tr>
                                                        <td>@leerdoelenArray[i].Beschrijving</td>
                                                        <td>@Html.TextBox("Model.Leerdoelen[" + @i + "].Beschrijving", leerdoelenArray[i].Beschrijving, new { @class = "form-control" })</td>
                                                        <td style="width: 90px; text-align:center">
                                                            <a class="btn btn-danger btn-sm remove_row"><i class="fa fa-trash"></i></a>
                                                        </td>
                                                    </tr>
                                                }
                                                <tr>
                                                    <td style="width: 90px; text-align:right; padding-right:30px" colspan="5">
                                                        <button data-target="leerdoelen" data-columns="1" data-collectionname="Leerdoelen" data-properties='["Beschrijving"]' data-nextindex="@leerdoelenArray.Length" class="btn btn-success row_add" type="button"><i class="fa fa-plus add_row"></i></button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Voorkennis</th>
                                    <td>
                                        <label style="color: red;">TODO: Github issue #35</label>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="form-group">
                        <label for="status">Status</label>
                        <div id="status" class="checkbox" style="padding-left: 10px;">
                            <label>
                                @if (Model.Status.Contains("Compleet"))
                                {
                                    <input name="status" type="checkbox" checked="checked">
                                }
                                else
                                {
                                    <input name="status" type="checkbox">
                                }
                                Compleet?
                            </label>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-success btn-lg">Opslaan</button>
                    <a href="@Url.Action("Overview_Teacher_Temp", "Module")" class="btn btn-default">Annuleren</a>

                }
            </div>
        </div>
    </div>
</div>

<!-- Help MODAL-->
@Html.Partial("~/Views/Help/ModuleEdit.cshtml", null);

<!-- JAVA MEUK -->
@section Scripts {
    <script>
        function AddRow(targettable, values) {
            var target = $("#" + targettable + " > tbody");

            newRow = "<tr>";

            for (var i = 0; i < values.length; i++) {
                newRow += "<td>" + values[i] + "</td>";
            }

            newRow += "<td style='width: 90px;'>" +
            "<a class='btn btn-warning btn-sm'><i class='fa fa-pencil'></i></a>" +
            "<a class='btn btn-danger btn-sm'><i class='fa fa-trash'></i></a>" +
        "</td>";

            newRow += "<tr>";

            target.append(newRow);
        }

        $(".row_add").click(function () {
            
            var target = $(this).data("target");            
            var columns = $(this).data("columns");            
            var collName = $(this).data("collectionname");            
            var properties = $(this).data("properties");
            var newIndex = $(this).data("nextindex")

            var newRow = "<tr>";
            if (columns == properties.length) {                
                for (var i = 0; i < columns; i++)
                {
                    newRow += "<td><input class='form-control' id='Model_" + collName + "_" + newIndex + "_" + properties[i] + "' name='Model." + collName + "[" + newIndex + "]." + properties[i] + "' type='text'></td>" 
                }
            }
            
            newRow += "<td style='width: 90px; text-align:center'><a class='btn btn-danger btn-sm remove_row'><i class='fa fa-trash'></i></a></td>"

            newRow += "</tr>";

            $("#" + target + " tr:last").before(newRow);

            $(this).data("nextindex", newIndex + 1);
        });

        $(document).on("click", ".remove_row", function () {
            $(this).closest("tr").remove()
        });

        $(function () {
            // SELECT2
            $("#competenties").select2({
                placeholder: "Competenties"
            });

            $("#leerlijn").select2({
                placeholder: "Leerlijn"
            });

            $("#tags").select2({
                placeholder: "Tags"
            });

            $("#werkvorm").select2({
                placeholder: "Werkvorm"
            });
        });
    </script>
}