@using ModuleManager.DomainDAL
@model  ModuleManager.DomainDAL.Fase

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title" id="CompetentieDelete">Competentie verwijderen</h4>
</div>

@using (Html.BeginForm())
{
    <div class="modal-body">
        Weet uw zeker dat uw de volgende competentie: <b>@Model.Naam</b> wilt verwijderen?
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Annuleren</button>
        <input class="btn btn-danger" type="submit" value="Verwijderen" />
        
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Naam)
        @Html.HiddenFor(model => model.Schooljaar)
        @Html.HiddenFor(model => model.OpleidingNaam)
        @Html.HiddenFor(model => model.OpleidingSchooljaar)

    </div>
}

