<div class="container">
    <div class="row">
        <div id="primary">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li><a href="@Url.Action("Index", "Admin")">Home</a></li>
                    <li><a href="@Url.Action("Index", "Admin")">Beheer</a></li>
                    <li class="active">Gebruikers</li>
                </ol>
            </div>

            <div class="col-md-12">
                <div class="pull-right">
                    <a class="btn btn-success" data-toggle="modal" data-target="#user-add" href="#" ><i class="fa fa-plus"></i> Nieuwe gebruiker</a>
                </div>
                <h2 style="margin-top: 0">Gebruikers</h2>
            </div>

            <div class="col-md-12">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Naam</th>
                            <th>Email</th>
                            <th>Rol</th>
                            <th>Acties</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Henk van der Sangen</td>
                            <td>henk@vdsangen.nl</td>
                            <td>Administrator</td>
                            <td style="width: 130px">
                                <a data-toggle="modal" data-target="#user-edit" href="#" class="btn btn-warning btn-sm" title="Bewerken"><i class="fa fa-pencil"></i></a>
                                <a data-toggle="modal" data-target="#user-lock" href="#" class="btn btn-primary btn-sm" title="Wachtwoord mailen"><i class="fa fa-lock"></i></a>
                                <a data-toggle="modal" data-target="#user-delete" href="#" class="btn btn-danger btn-sm" title="Verwijderen"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>Henk van der Sangen</td>
                            <td>henk@vdsangen.nl</td>
                            <td>Gebruiker</td>
                            <td style="width: 130px">
                                <a data-toggle="modal" data-target="#user-edit" href="#" class="btn btn-warning btn-sm" title="Bewerken"><i class="fa fa-pencil"></i></a>
                                <a data-toggle="modal" data-target="#user-lock" href="#" class="btn btn-primary btn-sm" title="Wachtwoord mailen"><i class="fa fa-lock"></i></a>
                                <a data-toggle="modal" data-target="#user-delete" href="#" class="btn btn-danger btn-sm" title="Verwijderen"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>Henk van der Sangen</td>
                            <td>henk@vdsangen.nl</td>
                            <td>Gebruiker</td>
                            <td class="actions" style="width: 130px">
                                <a data-toggle="modal" data-target="#user-edit" href="#" class="btn btn-warning btn-sm" title="Bewerken"><i class="fa fa-pencil"></i></a>
                                <a data-toggle="modal" data-target="#user-lock" href="#" class="btn btn-primary btn-sm" title="Wachtwoord mailen"><i class="fa fa-lock"></i></a>
                                <a data-toggle="modal" data-target="#user-delete" href="#" class="btn btn-danger btn-sm" title="Verwijderen"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div><!-- /#primary -->
    </div>
</div>

<!-- Help MODAL-->
@Html.Partial("~/Views/Help/UserOverview.cshtml", null);

@Html.Partial("~/Views/Admin/Users/Edit.cshtml", null);
@Html.Partial("~/Views/Admin/Users/Add.cshtml", null);
@Html.Partial("~/Views/Admin/Users/Lock.cshtml", null);
@Html.Partial("~/Views/Admin/Users/Delete.cshtml", null);

<!-- JAVA MEUK -->
@section Scripts {
    <script>
        $(function() {
            // THIS FOR ALL OVERVIEWS
            $(".item td").on("click", function() {
                if (!$(this).hasClass("actions")) {
                    window.location = $(this).parent().data("href");
                }
            });

            $('.dropdown-menu').on('click', function(e) {
                if ($(this).hasClass('dropdown-menu-form')) {
                    e.stopPropagation();
                }
            });

            $(function () {
                // SELECT2
                $("#systeemrolCreate").select2({
                    placeholder: "-- Kies een systeemrol --"
                });
                $("#systeemrolEdit").select2({
                    placeholder: "-- Kies een systeemrol --"
                });
            });
        });
    </script>
}