@using System.Web.UI.WebControls
@using ModuleManager.UserDAL
@model ModuleManager.Web.ViewModels.RegistrationVM
 
@{
    ViewBag.Title = "Registration";
}

<div id="content" role="content">
  <div class="container">
    <div class="row">
      <div id="primary" class="col-md-12">
         <style> form { max-width: 330px; padding: 15px; margin: 0 auto; } </style>  
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <h2>Registreren</h2>
            <div class="field-validation-error">
                @ViewBag.UsernameError
                @Html.ValidationMessage("error")
            </div>

            <!-- Gebruikersnaam-->
            @Html.EditorFor(model => model.UserNaam, new {htmlAttributes = new {@class = "form-control", PlaceHolder = "Gebruikersnaam"}})
            @Html.ValidationMessageFor(model => model.UserNaam, "", new {@class = "text-danger"})

            <!-- Wachtwoord -->
            @Html.EditorFor(model => model.Wachtwoord, new {htmlAttributes = new {@class = "form-control", PlaceHolder = "Wachtwoord"}})
            @Html.ValidationMessageFor(model => model.Wachtwoord, "", new {@class = "text-danger"})

            <!-- Herhaal wachtwoord -->
            @Html.EditorFor(model => model.BevestigWachtwoord, new {htmlAttributes = new {@class = "form-control", PlaceHolder = "Herhaal wachtwoord"}})
            @Html.ValidationMessageFor(model => model.BevestigWachtwoord, "", new {@class = "text-danger"})

            <!-- Rol -->
            <select name="werkvorm" class="form-control" id="systeemRol" multiple>
                <option></option>
                @foreach (SysteemRol s in Model.SysteemRollen)
                {
                    <option value="@s.Role">@s.Role</option>
                }
            </select>

            <!--    Html.DropDownListFor(model => model.SelectedSysteemRol,                                         // apenstaartje voor html
                        new SelectList((from s in Model.SysteemRollen
                            select new
                            {
                                SelectedSysteemRol = s.Role,
                                RolDisplay = s.Role
                            }), "SelectedSysteemRol", "RolDisplay", null), "-Kies een systeemrol");
                    Html.ValidationMessageFor(model => model.SelectedSysteemRol, "", new {class = "text-danger"});  // apenstaartje voor html & class
            -->
            

            <!-- Emailadres -->
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", PlaceHolder = "Emailadres" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

            <!-- Naam -->
            @Html.EditorFor(model => model.Naam, new { htmlAttributes = new { @class = "form-control", PlaceHolder = "Naam" } })
            @Html.ValidationMessageFor(model => model.Naam, "", new { @class = "text-danger" })

            <!-- Ruimte tussen de velden en button --><p></p>
            <input name="submit" type="submit" id="submit" value="Registreer" class="btn btn-lg btn-primary btn-block">
        }

      </div>
    </div>
  </div>
</div> <!-- /container -->

<!-- Help MODAL-->
@Html.Partial("~/Views/Help/Login.cshtml", null);

<!-- JAVA MEUK -->
@section Scripts {
    <script>
        $(function () {
            // SELECT2
            $("#systeemRol").select2({
                placeholder: "-- Kies een systeemrol --"
            });
        });
    </script>
}